<div class="bottom-navigation-wrapper">
  <div class="bottom-navigation">
    {% if prevArticle %}
      {% set article = prevArticle %}
      {% set linkDirection = 'prev' %}
      
      {% include "bottom-navigation-link.njk" %}
    {% endif %}
    {% if nextArticle %}
      {% set article = nextArticle %}
      {% set linkDirection = 'next' %}
      
      {% include "bottom-navigation-link.njk" %}
    {% endif %}
  </div>
  {% set pageUrl = '/' + rootId + '/' %}
  {% set shortTitle = pages.pagesMap[rootId].shortTitle %}
  {% include "link-more.njk" %}
</div>