<footer class="footer">
	<div class="footer__container container">
    <p class="footer__copy">
      <b>HistoryBook</b>, 2020 - {{metadata.buildYear}}
    </p>
		<div class="footer__navigation">
      <a href="/lessons/" class="footer__link">Уроки</a>
      <a href="/figures/" class="footer__link">Постаті</a>
      <a href="/news/" class="footer__link">Новини</a>
      <a href="/stories/" class="footer__link">Розповіді</a>
      <a href="/about/" class="footer__link">Про сайт</a>
		</div>
	</div>
</footer>
