---
import Icon from '@/components/icon/Icon.astro';
---

<button class="print-button" onclick="window.print()">
  <span class="icon">
    <Icon name="pdf" />
  </span>
  Завантажити PDF-версію
</button>

<style scoped>
  .print-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    transition: border-color 0.3s ease;
    border-radius: 10px;
    width: 100%;
  }
  .print-button:hover {
    border-color: var(--main-color);
  }
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  @media print {
    .print-button {
      display: none;
    }
  }
</style>
