@use '../settings/variables' as var;

.categories {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.categories-link {
  position: relative;
  color: var.$gray-dark;
  padding: 5px;
  padding: 5px 20px;
  border: 1px solid var.$gray-light;
  border-radius: 50px;
  flex-shrink: 0;
}

.categories-link-active {
  color: #fff;
  background-color: var.$red-base;
  border-color: var.$red-base;
  cursor: default;
  pointer-events: none;
}

.categories-link:hover {
  color: #fff;
  background-color: var.$red-base;
  border-color: var.$red-base;
}
