---
pageId: figures
layout: page.njk
pagination:
  data: collections.figures
  size: 10
  reverse: true
  alias: articles
  addAllPagesToCollections: true
permalink: /figures/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---