---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>HistoryBook</title>
	</head>
	<body>
		<h1>HistoryBook</h1>
	</body>
</html>
