---
pageId: lessons
layout: page.njk
pagination:
  data: collections.lessons
  size: 10
  reverse: true
  alias: articles
  addAllPagesToCollections: true
permalink: /lessons/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

