---
import { headerMenu } from '@/configs';
import Container from '@/components/container/Container.astro';
import MenuIcon from '@/assets/icons/MenuIcon.astro';
import CloseIcon from '@/assets/icons/CloseIcon.astro';

const url = Astro.url;
---

<header class="header">
  <Container className="header-container">
    <a href="/" class="logo">
      <img src="/images/logo.svg" alt="HistoryBook" />
    </a>
    <button class="menu-button" id="menuButton" aria-label="Open menu">
      <MenuIcon />
    </button>
    <nav class="navigation" id="navigation">
      <button class="close-button" id="closeButton">
        <CloseIcon />
      </button>
      {
        headerMenu.map((item) => (
          <a
            href={item.link}
            class:list={[
              'navigation-link',
              { 'navigation-link-active': url.pathname.includes(item.link) },
            ]}
          >
            {item.title}
          </a>
        ))
      }
    </nav>
  </Container>
</header>

<script>
  const menuButton = document.getElementById('menuButton');
  const closeButton = document.getElementById('closeButton');
  const navigation = document.getElementById('navigation');

  const isMenuAvailable = menuButton && closeButton && navigation;

  const VISIBLE_CLASS_NAME = 'navigation-visible';

  if (isMenuAvailable) {
    menuButton.addEventListener('click', () => {
      navigation.classList.add(VISIBLE_CLASS_NAME);
      document.body.style.overflow = 'hidden';
    });

    closeButton.addEventListener('click', () => {
      navigation.classList.remove(VISIBLE_CLASS_NAME);
      document.body.style.overflow = '';
    });
  }
</script>

<style is:global>
  .header {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    z-index: 100;
    height: var(--header-height);
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .logo {
    width: 150px;
    font-size: 0;
  }
  .navigation {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navigation-link {
    position: relative;
    color: #fff;
    font-size: 15px;
  }
  .navigation-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .navigation-link:hover::after,
  .navigation-link-active::after {
    visibility: visible;
    opacity: 0.8;
  }
  .menu-button {
    width: 40px;
    height: 40px;
    display: none;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }
  .close-button {
    display: none;
  }
  @media (max-width: 950px) {
    .logo {
      width: 150px;
    }
    .navigation-link {
      font-size: 14px;
    }
  }
  @media (max-width: 850px) {
    .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #000;
      background-color: #fff;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-150%);
      z-index: 100;
    }
    .navigation-visible {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .navigation-link {
      font-size: 20px;
      color: #000;
    }
    .navigation-link-active {
      color: var(--main-color);
    }
    .navigation-link-active::after {
      background-color: var(--main-color);
    }
    .menu-button {
      display: block;
      width: 30px;
      height: 30px;
    }
    .close-button {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      width: 30px;
      height: 30px;
    }
    .scrolled-button {
      border: 1px solid #ddd;
      width: 40px;
      height: 40px;
      padding: 5px;
      border-radius: 6px;
      z-index: 100;
      background-color: rgb(255 255 255 / 80%);
    }
    .scrolled-button svg {
      fill: #000;
    }
  }
  @media print {
    .header {
      display: none;
    }
  }
</style>
