---
import { getFormattedDate } from '../helpers/get-formatted-date';

type Props = {
  url: string;
  title: string;
  description: string;
}

const { url, title, description } = Astro.props;

---

<a href={url} class="card">
  <h3 class="card-title">
    {title}
  </h3>
  <p class="card-description">
    {description}
  </p>
</a>

<style>
.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: var(--default-border);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.card:hover {
  border-color: var(--red-base);
}

.card-title {
  color: var(--black-light);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: color 0.3s;
}

.card:hover .card-title {
  color: var(--red-base);
}

.card-description {
  font-size: 14px;
  color: var(--gray-dark);
  line-height: 20px;
}

.card-date {
  color: var(--red-base);
  font-size: 14px;
  margin-top: auto;
}

@media (max-width: 580px) {
  .card-description {
    font-size: 14px;
  }
}
</style>
