<div class="container">
  <slot />
</div>

<style>
  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 40px;
  }
  @media (max-width: 580px) {
    .container {
      padding: 0 20px;
    }
  }
  @media print {
    .container {
      max-width: 100%;
    }
  }
</style>
