---
import type { RootId } from '../common/types/root-id';

type Props = {
  pagesCount: number;
  currentPage: number;
  rootId: RootId;
};

const { pagesCount, rootId, currentPage } = Astro.props;
---

<div class="pagination">
  {
    Array.from({ length: pagesCount }, (_, index) => (
      <a
        href={`/${rootId}/${index > 0 ? `${index + 1}/` : ''}`}
        class:list={[
          'page-link',
          {
            'page-link-active': index + 1 === currentPage,
          },
        ]}
      >
        {index + 1}
      </a>
    ))
  }
</div>

<style>
  .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-dark);
    width: 35px;
    height: 35px;
    border: 1px solid #b8b8b8;
    border-radius: 50px;
  }

  .page-link:hover {
    color: #fff;
    background-color: var(--red-base);
    border-color: var(--red-base);
  }

  .page-link-active {
    color: #fff;
    background-color: var(--red-base);
    border-color: var(--red-base);
    cursor: default;
    pointer-events: none;
  }
</style>
