$red-base: #ff5353;
$red-bright: #f00;

$black-light: #202020;

$gray: #838383;
$gray-dark: #777;
$gray-invisible: #f2f2f2;
$gray-light: #ddd;
$gray-ultra-light: #e1e1e1;

$default-border: 1px solid $gray-ultra-light;
$header-height: 65px;
