---
import Grid from '@/components/grid/Grid.astro';
import { PageId } from '@/common';
import { ArticlesService } from '@/services';

type Props = {
  pageId: PageId;
  currentSlug: string;
};

const { pageId, currentSlug } = Astro.props;

const { articles } = await ArticlesService.findManyArticles(pageId, {
  limit: 4,
  filter: (a) => a.slug !== currentSlug,
});
---

<div class="relative-articles">
  <h6 class="title">Читайте також</h6>
  <Grid articles={articles} pageId={pageId} />
</div>

<style scoped>
  .relative-articles {
    margin-top: 40px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    color: var(--main-color);
    text-transform: uppercase;
  }
  @media print {
    .relative-articles {
      display: none;
    }
  }
</style>
