---
layout: root.njk
eleventyComputed:
  title: "{{pages.pagesMap[pageId].title}}{% if pagination.pageNumber > 0 %} - Сторінка {{pagination.pageNumber + 1}}{% endif %}"
  description: "{{pages.pagesMap[pageId].description}}{% if pagination.pageNumber > 0 %} - Сторінка {{pagination.pageNumber + 1}}{% endif %}"
---

{% if pages.pagesMap[pageId].categories.length %}
  {% set shortTitle = pages.pagesMap[pageId].shortTitle %}
  {% set categoriesNavigation = pages.pagesMap[pageId].categories %}

  {% include "categories-navigation.njk" %}
{% endif %}

<div class="grid">
  {% for article in articles %}
    {% set shouldShowDate = pages.pagesMap[pageId].shouldShowDate %}
    {% include "card.njk" %}
  {% endfor %}
</div>

{% if pagination.hrefs.length > 1 %}
  {% include "pagination.njk" %}
{% endif %}